---
- name: Include OS and distribution specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution|lower }}.yml"
        - "{{ ansible_os_family|lower }}.yml"
      skip: true

- name: Determine installation directory
  set_fact:
    install_dir: '/usr/share/elasticsearch'
  when: install_type == "package"
  tags:
    - preflight

- name: Determine configuration directory
  set_fact:
    config_dir: '/etc/elasticsearch'
  when: install_type == "package"
  tags:
    - preflight

- name: Determine logs directory
  set_fact:
    logs_dir: "{{ config['path.logs']|default(config.path.logs)|default(logs_dir) }}"
  tags:
    - preflight

- name: Determine data directory
  set_fact:
    data_dir: "{{ config['path.data']|default(config.path.data)|default(data_dir) }}"
  tags:
    - preflight

- name: Set unit [Service] configuration
  set_fact:
    _default_service_unit:
      ExecStart: "{{ install_dir }}/bin/elasticsearch {{ extra_run_args|join(' ') }}"
      User: "{{ elasticsearch_user }}"
      Group: "{{ elasticsearch_user }}"
      StandardOutput: journal
      StandardError: inherit

- name: Check for uninstall signal
  block:
    - name: Broadcast uninstall signal
      command: /bin/true
      notify: Uninstall service
      when: perform_uninstall

    - name: End play following uninstallation
      meta: end_play
  when: perform_uninstall
  ignore_errors: true
  tags:
    - preflight
